body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

header{
  width: 100%;
  height: 150px;
  background-color: red;
}

body{
  background-color: yellow;
}

Aside{
  width: 10%;
  height: 900px;
  background-color: blue;
  display: inline-block;
  margin: 0px;
  padding: 0px;
}

main{
width: 90%;
height: 900px;
background-color: grey;
display: inline-block;
margin: 0px;
padding: 0px;
vertical-align: top;
}

footer{
  width: 100%;
  height: 150px;
  background-color: green;
}