<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/register.css">
    <title>Registrate en Nuestra Web!</title>
</head>

<body>
    <h1>Registrate en Nuestra WEB !! </h1>
    <% if(typeof errors != "undefined") { %>
    <ul>
        <% for(var i = 0; i < errors.length; i++) { %>
        <li> <%= errors[i].msg %> </li>
        <% } %>
    </ul>
    <% } %>
    <form action="/users/register" method="POST">

        <input type="text" name="nombre" placeholder="Nombre">

        <input type="text" name="apellido" placeholder="Apellido">
        <!---  <select name="rol">
            <option value="1">Admin</option>
            <option value="2">usuario comun</option>
        </select>-->
        <br>

        <input type="email" name="email" placeholder="Email">

        <input type="password" name="password" placeholder="Clave">
        <br>

        <button class="button" type="submit">Confirmar</button>

    </form>
</body>

</html>