<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Vinos Online</title>
</head>

<body>
    <header>
        <div class="logo"></div>
    </header>
    <aside>
        <!-- categorias -->
    </aside>
    <main>
        <section>
            <!-- section 1 productos de ofertas -->
            <article></article>
            <article></article>
            <article></article>
            <article></article>
        </section>
        <section>
            <!-- section 2 productos de destacados -->
            <article>
                <div class="foto">

                </div>
                <div class="descripcion">

                </div>
                <div class="boton">
               
                </div>
            </article>
            <article></article>
            <article></article>
            <article></article>
        </section>
    </main>
    <footer>

    </footer>

</body>

</html>